#Carpetas excluidas por mi
dist/
.astro/
.vscode/
.idea/
node_modules/

#Carpetas excluidas por recomendacion de astro
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.env
.env.production
.DS_Store

