@import "tailwindcss";
@import "@fontsource-variable/roboto";
@import "@fontsource-variable/open-sans";

@layer{
    body {
        font-family: "open-sans variable", "Roboto variable", sans-serif;
    }

}

@layer utilities {
    .bg-blanco       { background-color: #ffffff; }
    .text-blanco     { color: #ffffff; }
    .bg-azul-oscuro  { background-color: #002D3C; }
    .text-azul-oscuro{ color: #002D3C; }
    .bg-verde-neon   { background-color: #8EE000; }
    .text-verde-neon { color: #8EE000; }
    .bg-morado       { background-color: #6B2A8C; }
    .text-morado     { color: #6B2A8C; }
    .bg-body         { background-color: #3B3758; }
    .text-body       { color: #3B3758; }
    .bg-gris-claro   { background-color: #E0E0E0; }
    .text-gris-claro { color: #E0E0E0; }
    .bg-gris-oscuro  { background-color: #333333; }
    .text-oscuro     { color: #333333; }
    .bg-rojo         { background-color: #E53935; }
    .text-rojo       { color: #E53935 }
    .bg-amarillo     { background-color: #FFB300; }
    .text-amarillo   { color: #FFB300; }
    .bg-azul-opaco   { background-color: #1A4B5C; }
    .text-azul-opaco { color: #1A4B5C; }
}

