
---
import Layout from '../layouts/Layout.astro'
---

<Layout>
    
<!--tienda/blog con productos-->
<main class="bg-gray-100 flex-grow">
        <!--tienda blog-->
        <section class="bg-gray-100">

                <div class="flex items-center mt-[60px] justify-center gap-10">
                    <h1 id="guitarras" class="text-5xl text-Black">Guitarras</h1> <!-- text-Black no existe, pero lo dejé -->
                </div>

                <!--guitarras-->
                <section class="mt-10 px-4 flex flex-wrap justify-center gap-6">
                
                <!--guitarra fender-->
                <div id="guitarra_fender" class="bg-white w-full max-w-xs rounded-lg shadow-md overflow-hidden flex flex-col justify-between h-[420px]">
                    <div class="w-full h-[180px] overflow-hidden">
                     <img src="https://audiomusicacl.vtexassets.com/arquivos/ids/191413/1-guitarra-electrica-fender-american-vintage-ii-1957-stratocaster-2-color-sunburst-1113234.jpg v=638525238674170000" alt="guitarra fender" class="w-full h-full object-cover">
                    </div>
                    <div class="p-4 flex flex-col gap-2">
                     <h2 class="text-lg font-semibold text-gray-800 whitespace-nowrap overflow-hidden text-ellipsis">Fender Stratocaster</h2>
                        <span class="text-base font-bold text-gray-900">$999.999 CLP</span>
                
                    </div>
                        <div class="p-4 pt-0">
                             <a href="./blog/guitarra-fender-stratocaster.html#guitarra_fender_stratocaster" class="bg-red-400 hover:bg-red-500 text-white text-sm font-semibold px-4 py-2 rounded-lg shadow transition-colors duration-300 w-full block text-center">Ver detalles</a>
                    </div>
                </div>

                <!-- guitarra gibson -->
                <div id="guitarra_gibson" class="bg-white w-full max-w-xs rounded-lg shadow-md overflow-hidden flex flex-col justify-between h-[420px]">
                    <div class="w-full h-[180px] overflow-hidden">
                        <img src="https://audiomusicacl.vtexassets.com/arquivos/ids/186826/1-guitarra-electrica-gibson-les-paul-custom-ebony-gloss-1109687.jpg?v=638357381113930000"
                        alt="guitarra gibson"
                        class="w-full h-full object-cover">
                    </div>
                        <div class="p-4 flex flex-col gap-2">
                        <h2 class="text-lg font-semibold text-gray-800 whitespace-nowrap overflow-hidden text-ellipsis">Gibson Les Paul</h2>
                     <span class="text-sm line-through opacity-50">$2.499.990 CLP</span>
                     <span class="text-base font-bold text-gray-900">$1.200.000 CLP</span>
                
                    </div>
                    <div class="p-4 pt-0">
                    <a href="./blog/guitarra-gibson-lespaul.html#guitarra_gibson_lespaul" class="bg-red-400 hover:bg-red-500 text-white text-sm font-semibold px-4 py-2 rounded-lg shadow transition-colors duration-300 w-full block text-center">Ver detalles</a>
                    </div>
                </div>

                <!-- guitarra paul rs -->
                <div id="guitarra_paul" class="bg-white w-full max-w-xs rounded-lg shadow-md overflow-hidden flex flex-col justify-between h-[420px]">
                    <div class="w-full h-[180px] overflow-hidden">
                        <img src="https://audiomusicacl.vtexassets.com/arquivos/ids/180304/1110741.jpg?v=638043127608870000"
                        alt="guitarra paul rs"
                        class="w-full h-full object-cover">
                    </div>
                     <div class="p-4 flex flex-col gap-2">
                        <h2 class="text-lg font-semibold text-gray-800 whitespace-nowrap overflow-hidden text-ellipsis">Paul RS SE Standard</h2>
                        <span class="text-sm line-through opacity-50">$1.500.000 CLP</span>
                    <span class="text-base font-bold text-gray-900">$1.100.000 CLP</span>
            
                    </div>
                    <div class="p-4 pt-0">
                        <a href="./blog/guitarra-paul-standard.html#guitarrra_paul_standard" class="bg-red-400 hover:bg-red-500 text-white text-sm font-semibold px-4 py-2 rounded-lg shadow transition-colors duration-300 w-full block text-center">Ver        detalles</a>
                    </div>
                </div>


          </section>
                    <!--section bajos-->
            <div class="flex items-center gap-2 mt-10 justify-center">
              <h1 id="bajos" class="text-5xl text-Black">Bajos</h1>
            </div>

            <section class="mt-10 px-4 flex flex-wrap justify-center gap-6">
            <!--bajo fender-->
            <div class="bg-white w-full max-w-xs rounded-lg shadow-md overflow-hidden flex flex-col justify-between h-[420px]">
                <div class="w-full h-[180px] overflow-hidden">
                <img src="https://www.todobajos.com/19454-superlarge_default/fender-limited-edition-mustang-bass-shm.jpg" alt="Fender Mustang Bass" class="w-full h-full object-cover">
                </div>
                  <div class="p-4 flex flex-col gap-2">
                    <h2 class="text-lg font-semibold text-gray-800 whitespace-nowrap overflow-hidden text-ellipsis">Fender Mustang Bass</h2>
                    <span class="text-sm line-through opacity-50">$1.000.000 CLP</span>
                    <span class="text-base font-bold text-gray-900">$500.000 CLP</span>
                    <span class="bg-yellow-400 text-white text-sm px-2 py-1 rounded-md w-max">50.0%! Descuento!</span>
                </div>
                <div class="p-4 pt-0">
                <a href="./blog/bajo-fender-mustang.html#amplificador_fender_mustang" class="bg-red-400 hover:bg-red-500 text-white text-sm font-semibold px-4 py-2 rounded-lg shadow transition-colors duration-300 w-full block text-center">Ver detalles</a>
                </div>
            </div>

            <!--bajo cort-->
            <div class="bg-white w-full max-w-xs rounded-lg shadow-md overflow-hidden flex flex-col justify-between h-[420px]">
                <div class="w-full h-[180px] overflow-hidden">
                  <img src="https://es.euroguitar.com/images/products/cort/a5-plus-scms-optg-artisan-bartolini-pan-med-149062.jpg" alt="Cort A5p" class="w-full h-full object-cover">
                </div>
                <div class="p-4 flex flex-col gap-2">
                <h2 class="text-lg font-semibold text-gray-800 whitespace-nowrap overflow-hidden text-ellipsis">Cort A5p</h2>
                    <span class="text-sm line-through opacity-50">$900.000 CLP</span>
                    <span class="text-base font-bold text-gray-900">$450.000 CLP</span>
                    <span class="bg-yellow-400 text-white text-sm px-2 py-1 rounded-md w-max">50.0%! Descuento!</span>
                </div>
                <div class="p-4 pt-0">
                <a href="./blog/bajo-cort-a5p.html#amplificador_cort_a5p" class="bg-red-400 hover:bg-red-500 text-white text-sm font-semibold px-4 py-2 rounded-lg shadow transition-colors duration-300 w-full block text-center">Ver detalles</a>
                </div>
            </div>

            <!--bajo warwick-->
            <div class="bg-white w-full max-w-xs rounded-lg shadow-md overflow-hidden flex flex-col justify-between h-[420px]">
                <div class="w-full h-[180px] overflow-hidden">
                    <img src="https://r2.gear4music.com/media/43/439436/600/preview.jpg" alt="" class="w-full h-full object-cover">
                </div>
                <div class="p-4 flex flex-col gap-2">
                <h2 class="text-lg font-semibold text-gray-800 whitespace-nowrap overflow-hidden text-ellipsis">Warwick Thumb</h2>
                    <span class="text-sm line-through opacity-50">$1.400.000 CLP</span>
                    <span class="text-base font-bold text-gray-900">$700.000 CLP</span>
                    <span class="bg-yellow-400 text-white text-sm px-2 py-1 rounded-md w-max">50.0%! Descuento!</span>
                </div>
                <div class="p-4 pt-0">
                <a href="./blog/bajo-warwick-thumb.html#amplificador_warwick_thumb" class="bg-red-400 hover:bg-red-500 text-white text-sm font-semibold px-4 py-2 rounded-lg shadow transition-colors duration-300 w-full block text-center">Ver detalles</a>
                </div>
            </div>
            </section>
            <!--section amplificadores-->
            <div class="flex items-center gap-2 mt-10 justify-center">
            <h1 id="amplificadores" class="text-5xl text-Black">Amplificadores</h1>
            </div>

            <section class="mt-10 px-4 flex flex-wrap justify-center gap-6">
            <!--fender twin-->
            <div class="bg-white w-full max-w-xs rounded-lg shadow-md overflow-hidden flex flex-col justify-between h-[420px]">
                    <div class="w-full h-[180px] overflow-hidden">
                        <img src="https://thumbs.static-thomann.de/thumb/padthumb600x600/pics/bdb/_32/323667/18902722_800.jpg" alt="Fender Twin Reverb" class="w-full h-full object-cover">
                    </div>
                    
                    <div class="p-4 flex flex-col gap-2">
                         <h2 class="text-lg font-semibold text-gray-800 whitespace-nowrap overflow-hidden text-ellipsis">Fender Twin Reverb</h2>
                    <span class="text-sm line-through opacity-50">$600.000 CLP</span>
                    <span class="text-base font-bold text-gray-900">$300.000 CLP</span>
                    <span class="bg-yellow-400 text-white text-sm px-2 py-1 rounded-md w-max">50.0%! Descuento!</span>
                </div>
                <div class="p-4 pt-0">
                <a href="./blog/amplificador-fender-twin.html#amplificador_fender_twin" class="bg-red-400 hover:bg-red-500 text-white text-sm font-semibold px-4 py-2 rounded-lg shadow transition-colors duration-300 w-full block text-center">Ver detalles</a>
                </div>
            </div>

            <!--marshall-->
            <div class="bg-white w-full max-w-xs rounded-lg shadow-md overflow-hidden flex flex-col justify-between h-[420px]">
                <div class="w-full h-[180px] overflow-hidden">
                    <img src="https://bimotordj.com/image/cache/catalog/STUDIOCLASSICSC20H/1-1200x1200.jpg" alt="Marshall JCM800" class="w-full h-full object-cover">
                </div>
                <div class="p-4 flex flex-col gap-2">
                    <h2 class="text-lg font-semibold text-gray-800 whitespace-nowrap overflow-hidden text-ellipsis">Marshall JCM800</h2>
                    <span class="text-sm line-through opacity-50">$700.000 CLP</span>
                    <span class="text-base font-bold text-gray-900">$350.000 CLP</span>
                    <span class="bg-yellow-400 text-white text-sm px-2 py-1 rounded-md w-max">50.0%! Descuento!</span>
                </div>
                <div class="p-4 pt-0">
                <a href="./blog/amplificador-marshall-jcm800.html#amplificador_marshall_jcm800" class="bg-red-400 hover:bg-red-500 text-white text-sm font-semibold px-4 py-2 rounded-lg shadow transition-colors duration-300 w-full block text-center">Ver detalles</a>
                </div>
            </div>

            <!--vox-->
            <div class="bg-white w-full max-w-xs rounded-lg shadow-md overflow-hidden flex flex-col justify-between h-[420px]">
                <div class="w-full h-[180px] overflow-hidden">
                <img src="https://http2.mlstatic.com/D_NQ_NP_829190-MLU70185876343_062023-O.webp" alt="Vox AC30" class="w-full h-full object-cover">
                </div>
                <div class="p-4 flex flex-col gap-2">
                    <h2 class="text-lg font-semibold text-gray-800 whitespace-nowrap overflow-hidden text-ellipsis">Vox AC30</h2>
                    <span class="text-sm line-through opacity-50">$500.000 CLP</span>
                    <span class="text-base font-bold text-gray-900">$250.000 CLP</span>
                    <span class="bg-yellow-400 text-white text-sm px-2 py-1 rounded-md w-max">50.0%! Descuento!</span>
                </div>
                <div class="p-4 pt-0">
                 <a href="./blog/amplificador-vox-ac30.html#amplificador_vox_ac30" class="bg-red-400 hover:bg-red-500 text-white text-sm font-semibold px-4 py-2 rounded-lg shadow transition-colors duration-300 w-full block text-center">Ver detalles</a>
                </div>
            </div>
            </section>

  </section>
</main>

</Layout>