---
import Layout from '../layouts/Layout.astro'
import ProductCard from '../components/ProductCard.astro';
---

<Layout>
    
<!--tienda/blog con productos-->
<main class="bg-red-900">
        <div>
            <ProductCard />
        </div>
              

 
</main>

</Layout>