---
import Layout from '../layouts/Layout.astro'

---

<Layout>
    <main>
        <img src="https://thumbs.dreamstime.com/z/en-una-tienda-ordenada-cuidadosamente-la-fila-de-amplificadores-guitarra-larga-varios-est%C3%A1-alineada-m%C3%BAsica-394141026.jpg" alt="" class="w-full h-full object-cover"      >
    </main>
	
</Layout>
