---
import Layout from "../layouts/Layout.astro"
---

<Layout>
    




<!--main servicios-->
<main class="flex-grow bg-gradient-to-br from-gray-500 via-white to-red-300">
    <div class="w-full text-center pt-[60px] pb-10">
        <!--se cambio mt- de 16 a [60px] porque no funcionaba-->
        <h1 class="text-4xl sm:text-5xl md:text-6xl font-semibold text-gray-900">¿Quiénes somos nosotros?</h1>
        <h1 class="text-xl sm:text-5xl md:text-2xl font-semibold text-gray-500">Instrumentos que inspiran</h1>
    </div>
    <section class="w-full py-14 px-6 text-gray-700">
        
        <div class="max-w-5xl mx-auto grid grid-cols-1 md:grid-cols-2 gap-8">
        <div class="space-y-10">
            <div class="text-center">
            <h2 class="text-2xl sm:text-3xl font-extrabold">¿Quiénes somos nosotros?</h2>
            <p class="text-base sm:text-lg text-gray-700 mt-3">Somos una tienda de instrumentos musicales en crecimiento</p>
            </div>
            <div class="text-center">
            <h2 class="text-3xl sm:text-3xl font-extrabold">¿De dónde venimos?</h2>
            <p class="text-base sm:text-lg text-gray-700 mt-3">Comenzamos en una tienda diminuta ubicada en Piloto Pardo 123, Castro</p>
            </div>
        </div>
        <div class="space-y-7 text-gray-700">
            <div class="text-center">
            <h1 class="text-3xl sm:text-3xl font-extrabold">Tienda de instrumentos</h1>
            <p class="text-base sm:text-lg text-gray-700 mt-3">Asi es, estamos en crecimiento, lamentablemente no poseemos un catalogo extendido de instrumentos musicales, pero, solamente es el inicio de este tan largo viaje de emprendimientos</p>
        </div>
        
        </div>

        <!--derecha-->
        <div class="space-y-7">
            <div class="text-center">
            <h2 class="text-2xl sm:text-3xl font-extrabold">¿Hacia dónde vamos?</h2>
            <p class="text-base sm:text-lg text-gray-700 mt-3">A seguir creciendo, en un futuro algo lejano pensamos en abrir nuevamente una tienda fisica</p>
            </div>
            <div class="text-center">
            <h2 class="text-2xl sm:text-3xl font-extrabold">Estamos solos?</h2>
            <p class="text-base sm:text-lg text-gray-700 mt-3">No, estamos acompañados de proveedores de instrumentos musicales de la zona y proximamente tendremos convenios internacionales para importar desde EEUU.</p>
            </div>
       

    </section>


</main>


</Layout>