---
import MenuDropItems from "./MenuDropItems.astro"
import MenuNavItems from "./MenuNavItems.astro"
---



<!--header -->
<header class="flex flex-col bg-[#394855] text-white ">
    <!--header principal-->
    <div class="w-full max-w-screen-xl px-4 mx-auto flex flex-col md:flex-row justify-between items-center py-6">
        <!--logo+marca-->
        <div class="flex items-center gap-3 flex-wrap">
            <!--logo-->
            <a href="/">    
                <img src="../assets/astro.svg" alt="logo" class="h-[70px] w-[70px] sm:h-20 sm:w-20 lg:h-[90]">
            </a>
            <!--marca-->
            <a href="/" class="text-2xl sm:text-2xl lg:text-lg text-white font-bold hover:bg-red-400 rounded-sm px-2 py-1">T&G Music©</a>
            <!--mensaje-->
            <h3 class="text-gray-300 text-lg sm:text-sm mt-1 mb-2 relative -top-1">Tienda de instrumentos musicales online!</h3>
        </div>
        <!--navbar-->
        <!--adaptacion del codigo  para simplificarlo
        .crear menu con const y moverlo con map.-->


        <MenuNavItems />


    </div>
    <!--header inferior-->
    <div class="w-full bg-slate-400">
        <div class="max-w-screen-lg mx-auto px-6 sm:px-10 md:px-20 flex flex-wrap items-center justify-center py-3 gap-3">
            <!--dropdowns-->
            <div class="flex  bg-slate-400 w-auto space-x-2 ">
                <!--dropdown guitarras -->
                <div class="justify-center justify-items-center">
                    <MenuDropItems/>
                </div>

                    
                    
                   


            </div>
        </div>
    </div>
</header>

    