---
const menuItems: {texto: string; url: string}[] = [
    {texto: "inicio", url: "index.html"},
    {texto: "Nosotros", url: "nosotros.html"},
    {texto: "Blog", url: "blog.html"},
    {texto: "Contacto", url: "contacto.html"},

];
---

<nav class="flex flex-wrap justify-center md:justify-end gap-2 mt-4 md:mt-0 mb-1 items-center space-x-4">
            {menuItems.map((item) => (
                <a href={item.url} class="text-gray-300 hover:bg-red-400 rounded px-2 py-1 text-sm">{item.texto}</a>
            
            
            ))}
</nav>